/* Place CSS styles here */
body {
    background: url(../img/full\ logo\ w\ bg.jpg);
    background-color: rgb(236, 200, 253);
    background-size: cover;
    background-repeat: no-repeat;
}
.topbar-wrapper {
    padding: 10%;
}
.topbar {
    padding: 10px 16px;
    color: #f1f1f1;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    backdrop-filter: blur(10px);
    z-index: 0;
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    color: rgb(14, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
.tb-title,
.tb-image {
    display: flex;
    flex-direction: row;
}
.tb-name {
    margin-left: 100%;
}
.tb-pic {
    border-radius: 50%;
    width: 10%;
}
.header-wrapper {
    padding: 10%;
}
.header {
    padding: 10px 16px;
    color: #f1f1f1;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    backdrop-filter: blur(10px);
    z-index: 0;
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    color: rgb(14, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
  .head {
    display: flex;
    flex-direction: row;
  }
  .head-name {
    margin-left: 35%;
  }
  .head-image {
    border-radius: 50%;
    width: 10%;
  }
  .head-name {}
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

.pro-pic {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    object-position: initial;
    filter: none;
    padding: 2%;
    /*
    margin: 1%;
    aspect-ratio: 1;
    object-fit: cover;
    mask-border: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    mask:
    radial-gradient(at 70% 31%,#000 29%,#0000 30%),
    radial-gradient(at 30% 31%,#000 29%,#0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
   clip-path: polygon(-41% 0,50% 91%, 141% 0);
   filter: drop-shadow(0 0 10px #ff3e60)
   */
}
.profile-name {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;  
    letter-spacing: 1px;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    margin: 0px;
    font-size: 40px;
    line-height: 1.5;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
.profile-descrip {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;  
    letter-spacing: 1px;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    margin: 0px;
    font-size: 20px;
    line-height: 1.5;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
* {
    box-sizing: inherit;
}

.link-wrapper {
    -webkit-text-size-adjust: 100%;
    padding: 10%;
}
linknav {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.linkbtn {
    text-decoration: none;
}
.web-btn,
.insta-btn,
.kofi-btn,
.vimeo-btn {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    margin: 6px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    backdrop-filter: blur(10px);
    z-index: 0;
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    color: rgb(14, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-width: 0px;
    margin-bottom: 16px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
    padding: 16px 32px;
    line-height: 1.5;
}
.linkbtn:hover {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.34),0px 4px 8px 0px rgba(0,0,0,0.29);
}
.web-btn,
.insta-btn,
.kofi-btn,
.vimeo-btn {
    display: flex;
    flex-direction: row;
}
.web-image {
    border-radius: 50%;
    width: 10%;
}
.insta-image,
.kofi-image,
.vimeo-image {
    width: 7%;
}
.web-name {
    text-align: center;
    margin-left: 37%;
}
.insta-name {
    text-align: center;
    margin-left: 38%;
}
.kofi-name {
    text-align: center;
    margin-left: 41%;
}
.vimeo-name {
    text-align: center;
    margin-left: 40%;
}